ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;

    li {
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: #cacaca;
        }
    }
}

.selected {
    background-color: #53b2ff;
}